{% extends 'base.html.twig' %}

{% block title %}Création d'un contact{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1>Créer un nouveau contact</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer le nouveau contact</button>

    {{ form_end(form) }}
</div>

{% endblock %}